/*==================　共通　==================*/
*{
	padding: 0;
	margin:0;
	font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
}
body{
	height: 100vh;
	width: 100vw;
}
header{
	height: 10vh;
	min-height: 10vh;
	width: 100vw;
	background: blue;
	text-align: center;
	justify-content: center;
}
footer {
	width: 100vw;
	min-height: 10vh;
	background: orange;
}
/*==================　TOP　==================*/
.categoryWrapper{
	width: 100vw;
	height: 80vh;
	background: rgba(0,200,110,0.5);
	justify-content: center;
	text-align: center;
}
.subTitle{
	width: auto;
	position: relative;
	text-align: center;
	justify-content: center;
	border-bottom: solid 10px orange;
	border-radius: 8px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	background: rgba(255,255,255,0.2);
}
.ScategoryBtn {
	outline : none;
	background: rgba(255,200,100,.3);
	height: 14vh;
	width: 80vw;
	margin-top: 2.5vh;
	box-shadow: 8px 10px 8px 2px rgba(0,0,0,.4);
	font-size:1rem;
}

/*box-shadow: 左右の向きpx  上下の向きpx ぼかしpx 広がりpx 色 内側指定;*/


/*==================　question画面　==================*/
/*回答ボタン*/
.U_AnswerBtn{
	display: block;
	outline : none;
	background: rgba(255,200,100,.9);
	height: 8vh;
	width: 60vw;
	padding-top: 2px;
	box-shadow: 8px 10px 8px 2px rgba(0,0,0,.4);
	font-size:1rem;
	margin-right: auto;
	margin-left: auto;

}
/*==================　question画面　==================*/

.A_content{
	width: 100vw;
	height: 80vh;
	overflow: scroll;


}
.A_cardWrapper{
	width: 90vw;
	height: auto;
	margin-left:5vw;
	background: rgba(0,0,0,.2);
	box-shadow: 8px 10px 8px 2px rgba(0,0,0,.4);
	margin-top:20px;
	margin-bottom: 20px;
	border-radius: 8px

}

.A_cardWrapper > h2 ,.A_cardWrapper > p{
	margin-top:14px;
	padding:10px;

}





