/*==================　共通　==================*/
*{
	padding: 0;
	margin:0;
	font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
}
body{
	height: 100vh;
	width: 100vw;
	background-image: url(../img/robo_main.jpg);
	overflow-y: hidden;
}
header{
	height: 5vh;
	max-height: 5vh;
	width: 100%;
	background: rgba(255,255,255,.2);
	text-align: center;
	margin-top: 0;

}
footer {
	width: 100vw;
	height: 10vh;
	background: rgba(0,0,0,0.6);
	margin:0 auto;
}
footer>p{
	color: #fff;
	float: left;
}
.toTopBtn{
	display: inline-block;
	height: 8vh;
	font-size: 1rem;
	width: 10vw;
	color:#fff;
	text-align: center;
	float: right;
	border-bottom: none;
	opacity: 1;
}
.toTopBtn:active{
	opacity: 0.5;
}
.toTopBtn:after{
	float: none;
}
/*==================　TOP　==================*/
.categoryWrapper{
	width: 95vw;
	height: 80vh;
	max-height: 90vh;
	min-height: 80vh;
	background: rgba(0,0,0,0.7);
	justify-content: center;
	text-align: center;
	padding-top: 30px;
	margin: 0 auto;
	margin-bottom: 2vh;
}
.subTitle{
	width: 80vw;
	text-align: center;
	justify-content: center;
	margin:0 auto;
	border-bottom: solid 10px orange;
	border-radius: 8px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	background: rgba(255,255,255,0.8);
}
.ScategoryBtn {
	outline : none;
	background: rgba(255,200,100,.9);
	height: 14vh;
	width: 80vw;
	margin-top: 2.5vh;
	box-shadow: 8px 10px 8px 2px rgba(0,0,0,.8);
	font-size:1rem;
}
/*==================　question画面　==================*/
/*回答ボタン*/
.U_AnswerBtn{
	display: block;
	outline : none;
	background: rgba(255,200,100,.9);
	height: 10vh;
	width: 60vw;
/*	margin-top: 5px;
*/	box-shadow: 8px 10px 8px 2px rgba(0,0,0,.4);
	font-size:2rem;
	margin-right: auto;
	margin-left: auto;
}
.U_answerMsg{
	height: 30vh;
	text-align: center;
	margin-top: 20vh;
	font-size: 1rem;
	font-weight: bold;
}
@media only screen and (min-width: 896px) {
	.U_answerMsg{
		font-size: 2.5rem;
	}
}
/*==================　question画面　==================*/
.A_content{
	width: 95vw;
	overflow: scroll;
	height: 85vh;
	max-height: 90vh;
	min-height: 80vh;
	background:rgba(0,0,0,.3);
	margin: 0 auto;
	margin-bottom: 2vh;
}
.A_cardWrapper{
	max-width: 90%;
	height: auto;
	margin:5vw auto;
	background: rgba(255,255,255,.9);
	box-shadow: 8px 10px 8px 2px rgba(0,0,0,.4);
	border-radius: 20px
}
.A_cardWrapper > h2 ,.A_cardWrapper > p{
	margin-top:14px;
	padding:10px;
	font-size: 1.2rem;
}

