/*全体*/
.container {
  margin: 0 auto;
  padding: 28px;
  width: 80vw;
  color: #333;
  background: #419be0;
  height: 80vh;
  max-height:80vh;
  min-height: 70vh; 
  background: rgba(10,10,10,.4);
  margin-bottom: 2vh;
  overflow: scroll;
/*スライドの中身*/
}
.slick-track{
	overflow: scroll;
	height: 100vh;
	min-height: 100vh;
}
.slick-slide {
  padding-left: 8px;
  color: #419be0;
  background: rgba(255,255,255,.9);
  font-size:1rem;
  text-shadow: 5px 5px 2px rgba(0,200,200,.2);

}
/*選択肢の感覚*/
input {
	margin-top:10px;
	margin-bottom: 8px;
	line-height: 1.5rem;
}
@media only screen and (min-width: 1200px) {
	.slick-slide {
		font-size: 2rem;
		height: 100%;
	}
	.slick-track{
		height: 60vh;
		max-height: 70vh;
	}
}
input[type="radio"]{
	width: 4vw;
	height: 4vh;
}