/*全体*/
.container {
  margin: 0 auto;
  padding: 40px;
  width: 80vw;
  color: #333;
  background: #419be0;
  height: 70vh;
  text-align: left;
/*スライドの中身*/
}
.slick-slide {
  padding-left: 8px;
  color: #419be0;
  background: white;
  height: 50vh;
  font-size:0.8rem;
}
/*選択肢の感覚*/
form input {
	margin-top:16px;
}